x-service-defaults: &service-defaults
  restart: unless-stopped
  networks:
    - app-network

services:

  postgres:
    <<: *service-defaults
    image: postgres:16-alpine
    container_name: postgres-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d

  pgadmin:
    <<: *service-defaults
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"
    depends_on:
      - postgres

  maildev:
    <<: *service-defaults
    image: maildev/maildev
    environment:
      - TZ=Asia/Riyadh
      - MAILDEV_WEB_PORT=1080
      - MAILDEV_SMTP_PORT=1025
    ports:
      - "1080:1080"
      - "1025:1025"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
    volumes:
      - maildev_data:/home/maildev:rw

  #  login URL: http://localhost:7060/castlemock/#/web/login
  #  username: admin
  #  password: admin
  castlemock:
    <<: *service-defaults
    image: castlemock/castlemock:latest
    container_name: castlemock
    ports:
      - "7060:8080"  # Map container port 8080 to host port 7060
    volumes:
      - castlemock-data:/root/.castlemock  # Persistent volume for CastleMock data

volumes:
  postgres_data:
    driver: local
  maildev_data:
    driver: local
  castlemock-data:
    driver: local

networks:
  app-network:
    driver: bridge
