#spring
spring:
  application:
    name: user-management
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

#server
server:
  port: 6061
  servlet:
    context-path: /user-management
